# Generating Fake Data with Scikit-Learn

*Many* libraries including sklearn and pytorch allow you to import real world datasets to test.

However, sometimes it helps to generate data with specific properties you are interested in. For learning and reimmersion it can be beneficial to add random inputs to your data generation function, generate a new dataset and practice your skills on it.

## Contents

[Import](#import) <br>
[Boolean variables](#boolean-variables) <br>
[Categorical variables](#categorical-variables)

## To Do

- continious variables
    - Blobs
    - Different distributions
    - Integer
    - Float
- categorical variables
- Date variables
- Text variables
- Boolean variables

## Notes

I'll generate 3 situations:
1. a: Simply the data type
2. b: Data a little more realistic needing conversion
3. c: Messy data needing cleaning

## Resources
[Sklearn generate datasets](https://scikit-learn.org/stable/datasets/sample_generators.html)

## Import

In [1]:
import pandas as pd
import numpy as np

from sklearn import datasets

In [2]:
class CFG:
    n_rows=1000

## Boolean variables

Let's start with the simplest and create a boolean variable.

In [3]:
df_bool_a = pd.DataFrame(np.random.choice([True, False], 
                                          size=CFG.n_rows),
                         columns=['bool_simple'])
df_bool_a.head()

   bool_simple
0         True
1        False
2         True
3        False
4        False

To practice a real world situation, this might start with text which we will need to convert to boolean.

In [4]:
df_bool_b = pd.DataFrame(np.random.choice(['Inside', 'Outside'], 
                                          size=CFG.n_rows), 
                         columns=['bool_text'])
df_bool_b.head()

  bool_text
0   Outside
1    Inside
2   Outside
3   Outside
4   Outside

In an even more messy scenario, there might be typos or other renaming of the same value. 

Example: If an old dataset was combined with a new one and the values were renamed.

In [5]:
def typo(s):
    """
    Replaces a random character in the input string with a random lowercase letter.

    Args:
        s (str): The input string.

    Returns:
        str: The input string with a single character replaced by a random lowercase letter.
    """
    idx = np.random.randint(len(s))
    replacement_letter = chr(np.random.choice(range(97, 123)))
    return s[:idx] + replacement_letter + s[idx + 1:]

In [11]:
# same principle as b for starting point
df_bool_c = pd.DataFrame(np.random.choice(['Inside', 'Outside'], 
                                          size=CFG.n_rows), 
                         columns=['bool_typo'])

# set a random subset
mask_case = np.random.choice([True, False], size=CFG.n_rows, p=[0.1, 0.9])
mask_typo = np.random.choice([True, False], size=CFG.n_rows, p=[0.05, 0.95])

df_bool_c.loc[mask_case, 'bool_typo'] = (df_bool_c.loc[mask_case, 'bool_typo']
                                         .str
                                         .lower())

df_bool_c.loc[mask_typo, 'bool_typo'] = (df_bool_c.loc[mask_typo, 'bool_typo']
                                         .apply(typo))

print(df_bool_c.value_counts().sort_values(ascending=False)[:6])

df_bool_c.head()

bool_typo
Outside      436
Inside       417
outside       52
inside        51
dnside         2
Ohtside        2
Name: count, dtype: int64

  bool_typo
0    Inside
1   Outside
2    Inside
3   Outside
4    Inside

Now we have our boolean examples we can concat them into a single dataframe.

In [12]:
df_bool = pd.concat([df_bool_a, df_bool_b, df_bool_c], axis=1)
df_bool.head()

   bool_simple bool_text bool_typo
0         True   Outside    Inside
1        False    Inside   Outside
2         True   Outside    Inside
3        False   Outside   Outside
4        False   Outside    Inside

## Categorical variables

## Continious Variables